* {
    padding: 0;
    margin: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1f2937;
    width: 100%;
    height: 500px;
}

.navbar {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

.navbar a{
    text-decoration: none;
}

.logo a{
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

.header-links a{
    padding: 8px;
    font-size: 18px;
    color: #e5e7eb;
}

.head-box {
    display: flex;
    width: 70%;
    height: calc(100% - 50px);
    margin: auto;
}

.text-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
}

.text-box p {
    font-size: 18px;
    color: #e5e7eb;
}

.btn-one {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    height: 37px;
    width: 120px;
    margin-top: 10px;
}

.header-img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-img img {
    width: 520px;
    height: 260px;
    padding-left: 350px;
}

.main-box {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 36px;
    color: #1f2937;
    margin-top: 40px;
}

.img-container {
    display: flex;
    height: 100%;
    width: 45%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.sub-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: 160px;
    text-align: center;
    color: #1f2937;
}

.image-div {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    background-image: url(header-img.jpg);
    background-size: cover;
}

.quote-box {
    height: 400px;
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-by {
    width: 47%;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
}

.message-box {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    height: 40%;
    width: 60%;
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e5e7eb;

}

.message-text-first {
    font-size: 24px;
    font-weight: 700;
}

.message-text-second {
    font-size: 18px;
}

.btn-two {
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #f9faf8;
    height: 37px;
    width: 120px;
    padding: 5px;
}